/.venv
/.vscode

/1.Object_Detection/1.Models/best.pt

/4.LLM/old
/4.LLM/Cleaning.py
/4.LLM/pg_finetune.py
/4.LLM/Totals.py

/data_yolov11

/detection

/documents

/Experiments

/LADIv2/data/test
/LADIv2/data/train
/LADIv2/data/validation
/LADIv2/results/needs_review
/LADIv2/results/no_damages
/LADIv2/results/not_discernible
/LADIv2/results/with_damages

/LADIv2_1

/runs

/test data

billing.py
OS.txt
tempo.txt